body {
    background-image: url("pictures/space.jpg");
}

.mainbody {
    width: 1000px;
}

.Layout2_header {
    background-image: url("pictures/logo.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.Layout2_topmenu {
    background-color: #1e1e1e;
    width: 100%;
    position: relative;
    margin-top: 0;
}

.Layout2_leftmenu {
    width: 30%;
    background-color: Grey;
    height: 900px;
    float: left;
}


.Layout2_contents {
    width: 100%;
    background-color: #1e1e1e;
    float: left;
    padding-bottom: 80px;
}

p {
    font: 20px Arial, sans-serif;
    font-weight: 500;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font: 30px Arial, sans-serif;
    font-weight: 500;
    color: white;
    font-weight: bold;
}

h2 {
    font: 25px Arial, sans-serif;
    font-weight: 500;
    color: white;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: left;
}

.some-buttons-a {
    position: absolute;
    left: 1130px;
    top: 1px;
    float: right;
    z-index: 1;
}

.jobsButton {
    position:right;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: right;
    display: inline-block;
    cursor:pointer;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
}

.jobs{
    font: 20px Arial, sans-serif;
    font-weight: 500;
    color: white;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
.email{
    font: 20px Arial, sans-serif;
    font-weight: 500;
    color: white;
    list-style-type: none;
    float: center;
    margin: 0;
    padding: 0;
}

.some-buttons-b {
    position: absolute;
    left: 1103px;
    top: 1px;
    float: right;
    z-index: 2;
}

.flex-child {
    flex: 1;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.flex-child:first-child {
    margin-right: 20px;
}

.top{
    display: flex;
    align-items: stretch;
    justify-content: left;
    list-style-type: none;
    width: 70%;
    margin: 0px;
    padding: 0;
    padding: 0;
}

li {
    float: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
    font: 20px Arial, sans-serif;
    font-weight: 500;
}

li a:hover {
    background-color: #111;
}

a.games {
    font: 20px Arial, sans-serif;
    font-weight: 500;
    color: rgb(134, 134, 255);
}